.snakemake/
logs/
.watch_state/
.trash/
*.out
*.err
.codex
.tmp/
**/.tmp/
**/.temp_dorado_model-*/
scripts/nanopore_preflight/logs/
CHANGELOG.pdf
software/
varseqtemplates/
VarSeq Templates/
__pycache__/
*.pyc
